node_modules
.env
.env.*
!.env.example
.DS_Store
dist
build
.vscode
.idea
*.log
.gemini

# AI & Debug Files
AI_INSTRUCTIONS.md
Copy of SE2 Team Vybe.txt
tmp_debug_mapping.js
*tmp_debug_mapping.js
docs/SE-Manual_VER2_2021-1.pdf
.gitignore
docs/SE2 Team Vybe 1.docx
